#nav{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding:30px;
    border-radius: 15px;
    background: rgba(255, 192, 203, 0.7);

    h1{
        font:bold 30px/1 'Josefin Sans';

        a{
            color:rgba(255,255,255,.75);
        }

    }

    .gnb{
        display: flex;
        flex-direction: column ;
        justify-content: space-between;
        align-items: center;

        li{
            margin-bottom: 35px;

            a{
                font:normal 15px/1 'Josefin Sans';
                color:rgba(255,255,255,.7);
                display: flex;
                flex-direction: column;

                .svg-inline--fa{
                    margin-bottom: 10px;
                    font-size: 20px;

                    path{
                        fill:rgba(255,255,255,.7);
                    }
                }

                &.active{
                    padding:10px;
                    background: #fff;
            
                    .svg-inline--fa{

                        path{
                            fill:pink;
                        }
                    }
                }
            }




        }
    }

    .changeColor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li{
            b{
                font-size: 35px;
                cursor: pointer;
                opacity: 0.3;
            }

            &:nth-child(1){
                b{
                    color:pink;
                }
            }

            &:nth-child(2){
                b{
                    color:cyan;
                }
            }

            &:nth-child(3){
                b{
                    color:yellow;
                }
            }

            &.on{

                b{
                    font-weight: bold;
                    opacity: 1;
                }
            }
        }
    }
}