#Profile{
    width: 30%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    // border:1px solid red;
    
    .inner{
        width: 350px;
        height: 100%;
        position: relative;
        padding:15px 0px 15px 30px;

        .wrap{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 15px;

            .myphoto{
                background: rgba(255,255,255,.45);
                padding:30px 35px 0px 35px;
                border-radius: 15px;
                margin-bottom: 30px;

                span{
                    font:bold 14px/1 '맑은 고딕';
                    display: block;
                    margin-bottom: 20px;
                    cursor: pointer;
                    text-align: center;
                    color:#111;
                }
    
                img{
                    width: 200px;
                    height: 200px;
                    padding:15px;
                    object-fit: cover;
                    margin-bottom: 15px;
                    border-radius:100px;
                }
    
                strong{
                    display: block;
                    font:bold 20px/1 'Inconsolata';
                    letter-spacing: 1.3px;
                    margin-bottom: 15px;
                    text-align: center;
                    color:#111;
                }

                ul{
                    background: rgba(255,255,255,.6);
                    border-radius: 15px;
                    padding:20px;
                    margin-bottom: 30px;
    
                    li{
                        margin-bottom: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 17.5px;
                        cursor: pointer;

                        &:hover{
                            .svg-inline--fa{
                                path{
                                    fill:rgba(255, 192, 203, 0.7);
                                }
                            }

                            b{
                                color:rgba(255, 192, 203, 0.7);
                            }
                        }

                        &:nth-child(3){
                            margin-bottom: 0px;
                        }
    
                        .svg-inline--fa{
                            font-size: 22px;
                            margin-bottom: 7.5px;
                            color:#111;

                            path{
                                fill:rgba(0,0,0,.8);
                                transition: 0.5s;
                            }
                        }
    
                        b{
                            font:bold 13px/1 'Inconsolata';
                            transition: 0.5s;
                            color:#333;
                        }
                    }
                }
            }

            .dateTime{
                width: 275px;
                height: 100px;
                background: rgba(255,255,255,.3);
                border-radius: 15px;
                padding:30px 0px;
                text-align: center;

                &:hover strong{
                    color:rgba(255, 192, 203, 0.7);
                }

                strong{
                    font:bold 30px/1 'Inconsolata';
                    letter-spacing: 2px;
                    color:#333;
                }
            }
        }
    }
}

@media screen and(max-width:1179px){
    #Profile{
        width: 25%;
        height: 100%;
        position: relative;
    
        .inner{
            width: 100%;
            padding:15px 0px 15px 5px;

            .wrap{

                .myphoto{
                    padding:40px 20px 0px 20px;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    
                    span{
                        font:bold 13px/1 '맑은 고딕';
                        margin-bottom: 25px;
                    }
        
                    img{
                        width: 150px;
                        height: 150px;
                        margin-bottom: 20px;
                     
                    }
        
                    strong{
                        font:bold 16px/1 'Inconsolata';
                        margin-bottom: 30px;
                    }
    
                    ul{
                        padding:10px 0px 10px 0px;
        
                        li{
                            margin-bottom: 25px;
    
                            .svg-inline--fa{
                                font-size: 20px;
                                margin-bottom: 10px;
                            }
        
                            b{font:bold 11.5px/1 'Inconsolata';}
                        }
                    }
                }
    
                .dateTime{
                    width: 100%;
                    height: 80px;
                    strong{font:bold 23px/1 'Inconsolata';}
                }
            }
        }
    }
}

@media screen and(max-width:959px){
    #Profile{
        width: 27.5%;
        height: 76%;
        top: 20%;
        right: 30px;
        position: absolute;

        .inner{
            padding:0px;

            .wrap{

                .myphoto{
                    margin-bottom: 20px;
                    padding:15px 10px 10px 10px;
                    
                    span{
                        font:bold 13.5px/1 '맑은 고딕';
                        margin-bottom: 20px;
                    }
        
                    img{
                        width: 150px;
                        height: 150px;
                        margin-bottom: 15px;
                    }
        
                    strong{
                        font:bold 17px/1 'Inconsolata';
                        margin-bottom: 20px;
                    }
    
                    ul{
                        padding:15px 10px 15px 10px;
                        margin-bottom: 0px;
        
                        li{
                            margin-bottom: 20px;
        
                            b{font:bold 12px/1 'Inconsolata';}
                        }
                    }
                }
    
                .dateTime{
                    height: 70px;
                    padding:25px;

                    strong{font:bold 20px/1 'Inconsolata';}
                }
            }
        }
    }
}

@media screen and(max-width:779px){
    .App{
        main{
            &.주황{
                #Profile .inner .wrap .myphoto ul li{
                    &:nth-child(1){
                        &:hover{
                            &::after{color:rgba(253, 209, 173, 0.9);}
                        }
                    }
    
                    &:nth-child(2){
                        &:hover{
                            &::after{color:rgba(253, 209, 173, 0.9);}
                        }
                    }
    
                    &:nth-child(3){
                        &:hover{
                            &::after{color:rgba(253, 209, 173, 0.9);}
                        }
                    }
                }    
            }
        }
    }

    .App{
        main{
            &.보라{
                #Profile .inner .wrap .myphoto ul li{
                    &:nth-child(1){
                        &:hover{
                            &::after{color:rgba(227, 192, 255, 0.7);}
                        }
                    }
    
                    &:nth-child(2){
                        &:hover{
                            &::after{color:rgba(227, 192, 255, 0.7);}
                        }
                    }
    
                    &:nth-child(3){
                        &:hover{
                            &::after{color:rgba(227, 192, 255, 0.7);}
                        }
                    }
                }    
            }
        }
    }

    #Profile{
        width:100%;
        height:12%;
        top: 18.3%;
        z-index:-1;
        background: linear-gradient(180deg,rgba(255,255,255,.9),rgba(255,255,255,.3));
        right: 0px;
        
        .inner{
            padding:0px;

            .wrap{

                .myphoto{
                    margin-bottom: 0px;
                    padding:0px;
                    border-radius: 0px;
                    background: none;

                    span{
                        font:bold 13.5px/1 '맑은 고딕';
                        margin-bottom: 20px;
                        display: none;
                    }
        
                    img{
                        width: 95px;
                        height: 95px;
                        margin-bottom: 0px;
                        position: absolute;
                        left: 50%;
                        top:40%;
                        transform: translate(-50%,-50%);
                    }
        
                    strong{
                        font:bold 12.5px/1 'Inconsolata';
                        margin-bottom: 0px;
                        position: absolute;
                        left: 50%;
                        bottom: 15px;
                        transform: translateX(-50%);
                    }
    
                    ul{
                        display: flex;
                        position: absolute;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        width: 35%;
                        height: 100%;
                        padding:10px 10px 0px 0px;
                        right: 0;
                        background: none;


                        li{
                            margin-bottom: 0px;
                            position: relative;
                            transition: 1s;

                            &:nth-child(1){
                                &:hover{
                                    &::after{
                                        content:'010-5219-8796';
                                        display: block;
                                        position: absolute;
                                        font-size: 13px;
                                        font-weight: bold;
                                        color:pink;
                                        bottom: -25px;
                                        left: -7.5px;
                                        width: 100px;
                                    }
                                }
                            }

                            &:nth-child(2){
                                &:hover{
                                    &::after{
                                        content:'github.com/Han-Na-05-22';
                                        display: block;
                                        position: absolute;
                                        font-size: 12px;
                                        font-weight: bold;
                                        color:pink;
                                        bottom: -25px;
                                        left: -90px;
                                        width: 200px;
                                    }
                                }
                            }

                            &:nth-child(3){
                                &:hover{
                                    &::after{
                                        content:'gkssktkfkd5@naver.com';
                                        display: block;
                                        position: absolute;
                                        font-size: 12px;
                                        font-weight: bold;
                                        color:pink;
                                        bottom: -25px;
                                        left: -150px;
                                        width: 200px;
                                    }
                                }
                            }

                            .svg-inline--fa{
                                font-size: 24px;
                                margin-bottom: 20px;
                            }
        
                            b{display: none;}
                        }
                    }
                }
    
                .dateTime{display: none;}
            }
        }
    }
}

@media screen and(max-width:539px){
    #Profile{
        width: 100%;
        height: 10%;
        top: 13%;
        padding:0px;
        left: 0px;

        .inner{

            .wrap{
                border-radius: 0px;

                .myphoto{

                    img{
                        width: 85px;
                        height: 85px;
                    }
                    
                    ul{
                        width: 37%;

                        li{
                            margin-bottom: 0px;
                            position: relative;
                            transition: 1s;

                            &:nth-child(1){
                                &:hover{
                                    &::after{
                                        font-size: 12px;
                                        font-weight: normal;
                                        bottom: -20px;
                                        left: 0px;
                                    }
                                }
                            }

                            &:nth-child(2){
                                &:hover{
                                    &::after{
                                        font-size: 12px;
                                        font-weight: normal;
                                        bottom: -35px;
                                        left: -35px;
                                        width: 100px;
                                    }
                                }
                            }

                            &:nth-child(3){
                                &:hover{
                                    &::after{
                                        content:'gkssktkfkd5 @naver.com';
                                        font-size: 12px;
                                        font-weight: normal;
                                        bottom: -35px;
                                        left: -80px;
                                        width: 100px;
                                    }
                                }
                            }

                            .svg-inline--fa{font-size: 20px;}
                        }
                    }
                }
            }
        }
    }
}