#Myportfolio{
    width: 60%;
    height: 100%;
    position: relative;
    padding:20px 0px 0px 10px;
    overflow: hidden;

    >.inner{
        width: 100%;
        height: 100%;
        position: relative;

        >.wrap{
            width: 100%;
            height: 100%;

            .myportfolioContent{
                width: 100%;
                height: 100%;
                padding:0px 15px;
            
                h2{
                    margin-bottom: 20px;
                    font:bold 22.5px/1 'Josefin Sans';
                    letter-spacing: 1.5px;
                    position: relative;
                    color:#333;
                    
                    &::after{
                        position: absolute;
                        bottom:2.5px;
                        left:30px;
                        height: 12.5px;
                        background: rgba(255, 192, 203, 0.7);
                        display: block;
                        z-index:-1;
                        content: '';
                        animation: mypfAni 1.5s linear;
                        animation-fill-mode: forwards;
                    }
                }
            
            
                .wrap{
                    width: 100%;
                    height: 100%;
                    overflow:hidden;
            
                    #tab{
                        position: absolute;
                        width: 100%;
                        position: relative;
                        border-radius: 15px;
                  
                        dt{
                            width: calc(100% / 3);
                            height: 40px;
                            position: absolute;
                            top: 0;
                            cursor: pointer;
                            text-align: center;
                            background: rgba(255, 206, 214, 0.7);
                            transition: 1.5s;
                            border-radius: 15px 15px 0px 0px;
            
                            &:nth-of-type(1){left: calc(100% / 3)*0;}
                            &:nth-of-type(2){left: calc(100% / 3)*1;}
                            &:nth-of-type(3){left: calc(100% / 3)*2;}
            
                            &.on{
                                background: rgba(255,255,255,.5);
                             
                                button{
                                    color:#222;
                                }
                            }                 
            
                            button{
                                font:bold  15px/40px '맑은 고딕';
                                letter-spacing: 1.5px;
                                color:#777;
                                width: 100%;
                                height: 100%;
                                border:none;
                                background: none;
                                cursor: pointer;
                                transition: 1.5s;
                            }
            
                        }
            
                        dd{
                            width: 100%;
                            background: rgba(255,255,255,.5);
                            position: absolute;
                            top: 40px;
                            z-index:-1;
                            padding:15px;
                            transition: 2s;
                            opacity: 0;
                            border-radius: 0px 0px 15px 15px;
                            overflow: hidden;
                            
                            a{
                                margin-bottom: 10px;
                                font:bold 13px/1 'Raleway';
                                text-align: center;
                                display: block;
                                cursor: pointer;
                            }
            
                            .pic{   
                                overflow: hidden;
                                height:245px;
                                position: relative;
                                margin: 0 auto;
            
                                img{
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                    transition: 2s;
                                    opacity: 0;
                                    filter: saturate(70%);
                                    position: absolute;
                                    cursor: pointer;
                                    top: 100%;
                                    left: 0%;
            
                                    &:hover{
                                        filter: saturate(125%);
                                        width: 120%;
                                        height: 120%;
                                        transition: 1.3s;
                                    }
                                }
                    
                            }
            
            
                            span{
                                font:bold  11.5px/1 '맑은 고딕';
                                letter-spacing: 1.5px;
                                text-align: right;
                                display: block;
                                color:#555;
                                transition: 2s;
                                opacity: 0;
                                transform: translateY(100%);
                                margin-top: 5px;
                                margin-bottom: 15px;
                            }

                            .mainContent{
                                padding:5px;
                                transition: 2s;
                                opacity: 0;
                                transform: translateY(100%);

                                span{
                                    font:bold  13px/1 '맑은 고딕';
                                    letter-spacing: 1px;
                                    text-align: left;
                                    color:#111;
                                    margin-bottom: 10px;
                                }

                                b{
                                    font:bold  13px/1 '맑은 고딕';
                                    letter-spacing: 1px;
                                    text-align: left;
                                    margin-bottom: 10px
                                }
                                
                                strong{
                                    font:bold  13px/1 '맑은 고딕';
                                    letter-spacing: 1px;
                                    display: block;
                                    text-align: left;
                                    margin-bottom: 15px;
                                }
                                                    
                                p{
                                    font:normal  13.5px/20px '맑은 고딕';
                                    letter-spacing: 1px;
                                    color:#000;
                                }
                            }

            
                            &.on{
                               z-index:3;
                               opacity: 1;
            
                               .pic img{
                                    left: 50%;
                                    top:50%;
                                    transform: translate(-50%,-50%); 
                                    opacity: 1;
                                }
            
                                span,.mainContent{
                                    transform: translateY(0);
                                    opacity: 1;
                                    
                                }
                               
                            }
                        }
                    }
            
                }
            }
            
        }
    }
}

@media screen and(max-width:1179px){
    #Myportfolio{
        padding:10px 0px 0px 0px;
    
        >.inner{
    
            >.wrap{

                .myportfolioContent{
                    padding:0px 20px;
                
                    h2{
                        margin-bottom: 20px;
                        font:bold 20px/1 'Josefin Sans';

                        &::after{left:50px;}
                    }
                
                
                    .wrap{

                        #tab{
                      
                            dt{      
                                button{font:bold  13px/40px '맑은 고딕';}
                            }
                
                            dd{

                                .pic{   
                                    height:220px;
                                }
                
                
                                span{
                                    font:bold  10.5px/1 '맑은 고딕';
                                    margin-bottom: 8.5px;
                                }
                        
                                .mainContent{

                                    span{font:bold  11px/1 '맑은 고딕';}
    
                                    b{font:bold  11px/1 '맑은 고딕';}
                                    
                                    strong{
                                        font:bold  11px/1 '맑은 고딕';
                                        margin-bottom: 12.5px;
                                    }
                                                        
                                    p{
                                        font:normal  11.5px/17px '맑은 고딕';
                                        letter-spacing: 1px;
                                    }
                                }
                            }
                        }
                    }
                } 
            }
        }
    }
}

@media screen and(max-width:959px){
    #Myportfolio{
        position: absolute;
        width:65%;
        top: 20%;
        left: 20px;
        padding-top:10px;
    
        >.inner{
    
            >.wrap{

                .myportfolioContent{
                    padding:0px 10px;
                
                    h2{
                        font:bold 19px/1 'Josefin Sans';
                        left: 10px;
                    }
                
                    .wrap{

                        #tab{
                      
                            dd{
                                padding:10px;

                                .pic{   
                                    height: 180px;
                                    img{object-fit: contain;}
                                }

                                span{
                                    font:normal  10px/1 '맑은 고딕';
                                    text-align: center;
                                }

                                .mainContent{
    
                                    >span{
                                        font:bold 11px/1 '맑은 고딕';
                                    }
    
                                    b{
                                        font:bold 11px/1 '맑은 고딕';
                                    }
                                    
                                    strong{
                                        font:bold 11px/1 '맑은 고딕';
                                    }
                                                        
                                    p{
                                        font:normal  10.5px/18.2px '맑은 고딕';
                                        letter-spacing: 0.5px;
                                    }
                                }
                            }
                        }
                    }
                } 
            }
        }
    }
}

@media screen and(max-width:779px){

    .App{
        main{
            &.주황{
                #Myportfolio{
                    .myportfolioContent{
                        .wrap{
                            #tab{
                                dt{border:1px solid rgba(255, 220, 192, 0.7);}

                                dd{border:1px solid rgba(255, 220, 192, 0.7);}
                            }
                        }
                    }
                }
            }
        }
    }

    .App{
        main{
            &.보라{
                #Myportfolio{
                    .myportfolioContent{
                        .wrap{
                            #tab{
                                dt{border:1px solid rgba(227, 192, 255, 0.7);}

                                dd{border:1px solid rgba(227, 192, 255, 0.7);}
                            }
                        }
                    }
                }
            }
        }
    }

    #Myportfolio{
        width:100%;
        top: 30.3%;
        background:rgba(255,255,255,.3);
        border-radius: 0px 0px 15px 15px;
        left:0px;
        z-index:0;
        padding-top: 0px;

        >.inner{
    
            >.wrap{

                .myportfolioContent{
                    padding:20px 20px 0px 20px;

                    h2{
                        font:bold 18px/1 'Josefin Sans';
                        margin-bottom: 20px;
                    }
                
                    .wrap{

                        #tab{

                            dt{border:1px solid rgba(255, 192, 203, 0.541);}
                      
                            dd{
                                border:1px solid rgba(255, 192, 203, 0.541);
                                a{font-size: 12px;}

                                .pic{
                                    height:200px;

                                    img{object-fit: cover;}
                                }


                                span{letter-spacing: 0.2px;}
                        
                                .mainContent{

                                    >span{
                                        font:bold 11px/1 '맑은 고딕';
                                    }
    
                                    b{
                                        font:bold 11px/1 '맑은 고딕';
                                    }
                                    
                                    strong{
                                        font:bold 11px/1 '맑은 고딕';
                                    }
                                                        
                                    p{
                                        font:normal  11px/19px '맑은 고딕';
                                        letter-spacing: 0.7px;
                                    }
                                }
                            }
                        }
                    }
                } 
            }
        }
    }
}

@media screen and(max-width:539px){
    #Myportfolio{
        width: 100%;
        top: 23%;
        left: 0px;
        border-radius: 0;
        padding:0;
    
        >.inner{
    
            >.wrap{

                .myportfolioContent{
                    padding:30px 10px 20px;

                    h2{font:bold 20px/1 'Josefin Sans';}
                
                    .wrap{
         
                        #tab{

                            dt{border-radius: 0;}

                            dd{
                                border-radius: 0;

                                a{
                                    font-size: 13px;
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                }

                                .pic{height:180px;}

                                >span{
                                    padding-left: 33%;
                                    font-size: 10px;
                                    letter-spacing: 0.3px;
                                    line-height: 17px;
                                    text-align: right;
                                }

                                .mainContent{

                                    >span{
                                        font:bold 10.5px/15px '맑은 고딕';
                                        letter-spacing: 0.3px;
                                    }
    
                                    b{
                                        font:bold 10.5px/15px '맑은 고딕';
                                        letter-spacing: 0.3px;
                                    }
                                    
                                    strong{
                                        font:bold 10.5px/15px '맑은 고딕';
                                        letter-spacing: 0.3px;
                                    }
                                                        
                                    p{
                                        font:normal  10.5px/18px '맑은 고딕';
                                        letter-spacing: 0.5px;
                                    }
                                }
                            }
                        }
                    }
                } 
            }
        }
    }
}


@keyframes mypfAni{
    0%{width: 0%; opacity: 0; }
    50%{ opacity: 1; }
    100%{width: 29%;}
}